<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xlhl.sky.mapper.SetMealDishMapper">
    <insert id="addSetMealDish" parameterType="java.util.List">
        INSERT INTO SETMEAL_DISH (SETMEAL_ID, DISH_ID, NAME, PRICE, COPIES)
        VALUES
        <foreach collection="setMealDishes" item="setMealDish" separator=",">
            (#{setMealDish.setmealId},
            #{setMealDish.dishId},
            #{setMealDish.name},
            #{setMealDish.price},
            #{setMealDish.copies})
        </foreach>
    </insert>

    <delete id="delSetMealDishBySetMealId">
        DELETE
        FROM SETMEAL_DISH
        WHERE SETMEAL_ID = #{setMealId}
    </delete>

    <select id="getSetMealIdsByIds" resultType="java.lang.Long">
        SELECT setmeal_id FROM SETMEAL_DISH
        <where>
            dish_id IN
            <if test="dishIds != null">
                <foreach collection="dishIds" item="ids" open="(" close=")" separator=",">
                    #{ids}
                </foreach>
            </if>
        </where>
    </select>
    <select id="getSetMealDishById" resultType="com.xlhl.sky.entity.SetMealDish">
        SELECT *
        FROM SETMEAL_DISH
        WHERE SETMEAL_ID = #{setMealId};
    </select>
</mapper>